<% unless hide_menu? %>
  <!-- top navigation bar -->
  <div class="Polaris-Card top_navbar">
    <ul role="tablist" class="Polaris-Tabs">
      <li role="presentation" class="Polaris-Tabs__TabContainer">
        <a class="Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if (params[:controller] == 'stores' && params[:action] == 'settings') %>" href="<%= stores_settings_path(view: 'settings', shop: @current_shopify_session.domain) %>">
          <span class="Polaris-Tabs__Title">Settings</span></a>
      </li>
      <li role="presentation" class="Polaris-Tabs__TabContainer">
        <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if (params[:controller] == 'reservations') %>" href="<%= reservations_path %>">
          <span class="Polaris-Tabs__Title">Reservations</span></a>
      </li>
      <li role="presentation" class="Polaris-Tabs__TabContainer">
        <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if (params[:controller] == 'locations') %>" href="<%= locations_path %>">
          <span class="Polaris-Tabs__Title">Locations</span></a>
      </li>
      <li role="presentation" class="Polaris-Tabs__TabContainer">
        <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if (params[:controller] == 'stores' && params[:action] == 'templates') %>" href="<%= stores_templates_path %>">
          <span class="Polaris-Tabs__Title">Templates</span></a>
      </li>
      <% if @current_store.webhooks_enabled? %>
        <li role="presentation" class="Polaris-Tabs__TabContainer">
          <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if (params[:controller] == 'stores' && params[:action] == 'webhooks') %>" href="<%= stores_webhooks_path %>">
            <span class="Polaris-Tabs__Title">Webhooks</span></a>
        </li>
      <% end %>
      <li role="presentation" class="Polaris-Tabs__TabContainer">
        <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if (params[:controller] == 'stores' && params[:action] == 'help') %>" href="<%= stores_help_path %>">
          <span class="Polaris-Tabs__Title">Help</span></a>
      </li>
    </ul>
  </div>
<% end %>
