

<% content_for(:title) { 'Help' } %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">

      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">Changes in Settings / Template:</h2>
              <p>After any changes in settings, new changes need to be applied to your store theme snippet/reserveinstore_footer.liquid file</p>
              <p></p>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div class="Polaris-CalloutCard">
                  <div class="Polaris-CalloutCard__Content">
                    <div class="Polaris-CalloutCard__Title Polaris-TextContainer--spacingLoose">

                      <p><strong>Follow below steps if there was any changes in settings / template.</strong></p>

                      <p><strong>Step 1:</strong> Navigate to shopify theme or <a href="https://<%= @current_store.shopify_domain %>/admin/themes/<%= StoreIntegrator.new(@current_store).get_active_theme_id %>" class="Polaris-Link" target="_blank">click here</a>.
                      </p>
                      <p><strong>Step 2:</strong> Snippets >> Edit  <strong>reserveinstore_footer.liquid</strong> snippet.</p>
                      <p><strong>Step 3:</strong> Paste this code.</p>
                      <textarea class="helpful-code-read-only" rows="10" disabled="disabled">
                        <%= StoreIntegrator.new(@current_store).footer_script_js_code %>
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">How Reserve In-Store Works:</h2>
              <p>A tutorial explaining our interactions with your customers</p>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div class="Polaris-CalloutCard">
                  <div class="Polaris-CalloutCard__Content">
                    <div class="Polaris-CalloutCard__Title Polaris-TextContainer--spacingLoose">
                      <h2 class="Polaris-Heading">Reserve In-Store helps your customers put items on hold</h2>
                      <p>After installation, each product in your store will have have a new "reserve in-store" button.</p>
                      <p>If a customer clicks this button, they will be greeted with a form to provide you their name, email, phone-number, as well as when/where they want the item held.</p>
                      <p>You will automatically receive an email detailing their reservation request, and the customer will receive a reservation receipt detailing what they put on hold.</p>
                      <p>You can customize what locations are available for in-store holds and personalize each message the customer will see.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">Show additional fields in Reserve Modal:</h2>
              <p>If you want more information from customers. This tutorial will help. </p>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div class="Polaris-CalloutCard">
                  <div class="Polaris-CalloutCard__Content">
                    <div class="Polaris-CalloutCard__Title Polaris-TextContainer--spacingLoose">
                      <h2 class="Polaris-Heading">How to add additional fields in Reserve Modal?</h2>
                      <p>To make it easier for you by default Address field is added, now lets add new field City.</p>
                      <p><strong>Step 1:</strong> Enable show additional fields for Reserve Popup from Settings.</p>
                      <p><strong>Step 2:</strong> Click Templates >> Select specify custom templates. Once done template will be loaded.</p>
                      <p>Approx Line 66 - 69 you will see this code:</p>
                      <textarea class="helpful-code-read-only" rows="6" disabled="disabled">
 <div class="ris-contact-field">
   <label for="reservation_additional_field_address">Address</label>
   <input required="required" type="text" name="reservation[additional_fields][address]" id="reservation_additional_field_address" />
 </div>
                      </textarea>
                      <p><strong>Step 3:</strong> Replace <strong>address</strong> with <strong>city</strong>. Copy and paste below code anywhere within template.</p>
                      <textarea class="helpful-code-read-only" rows="6" disabled="disabled">
 <div class="ris-contact-field">
   <label for="reservation_additional_field_city">City</label>
   <input required="required" type="text" name="reservation[additional_fields][city]" id="reservation_additional_field_city" />
 </div>
                      </textarea>

                      <p>We need to show this extra field in Reservation Confirmation Email and Location Notification Email.</p>
                      <p><strong>Step 4:</strong> Select specify custom templates for Reservation Confirmation Email and Location Notification Email.</p>
                      <p>Add this line</p>
                      <textarea class="helpful-code-read-only" rows="6" disabled="disabled">
 {% if additional_fields.city %}
   <p>
     City: {{ additional_fields.city }}
   </p>
 {% endif %}
                      </textarea>
                      <p><strong>Step 5:</strong> Click Save</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">Additional Resources</h2>
              <p>For further reading and customization.</p>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div class="Polaris-CalloutCard">
                  <div class="Polaris-CalloutCard__Content">
                    <div class="Polaris-CalloutCard__Title Polaris-TextContainer--spacingLoose">
                      <h1 class="Polaris-Heading">Developer Docs</h1>
                      <p>
                        You can access our <a href="https://docs.reserveinstore.com" target="_docs">developer docs here</a>
                        where you can find:
                      </p>
                      <ul>
                        <li>How to move the location of buttons and other integrated content</li>
                        <li>How to use our JavaScript API</li>
                        <li>How to customize the modal and content templates</li>
                        <li>How to customize the email templates</li>
                        <li>How to use the Webhooks</li>
                        <li>How to use the REST API</li>
                      </ul>

                      <div class="Polaris-SettingAction__Action">
                        <a class="btn-deactivate Polaris-Button Polaris-Button--outline" href="https://docs.reserveinstore.com" target="_docs">
                          View Docs
                        </a>
                      </div>
                    </div>

                    <div class="Polaris-CalloutCard__Title Polaris-TextContainer--spacingLoose">
                      <h1 class="Polaris-Heading">API Keys</h1>
                      <p>
                        If you want to use the <a href="https://docs.reserveinstore.com" target="_docs">API</a> to extend
                        the reserve in-store functionality, you'll need your API keys. Here they are for your account:
                      </p>
                      <ul>
                        <li>
                          Public Key: <code class="publicKey-toggle" style="display: none;"><%=- @current_store.public_key %></code>
                          <a href="#" class="publicKey-toggle" onclick="$('.publicKey-toggle').toggle(); return false;" style="display: none;">hide</a>

                          <a href="#" class="publicKey-toggle" onclick="$('.publicKey-toggle').toggle(); return false;">show</a>
                        </li>
                        <li>
                          Secret Key: <code class="secretKey-toggle" style="display: none;"><%=- @current_store.secret_key %></code>
                          <a href="#" class="secretKey-toggle" onclick="$('.secretKey-toggle').toggle(); return false;" style="display: none;">hide</a>

                          <a href="#" class="secretKey-toggle" onclick="$('.secretKey-toggle').toggle(); return false;">show</a>
                        </li>
                      </ul>

                      <div class="Polaris-SettingAction__Action">
                        <a class="btn-deactivate Polaris-Button Polaris-Button--outline" href="https://docs.reserveinstore.com" target="_docs">
                          View Docs
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
