
<% if @integrator.present? && @integrator.has_errors? %>
  <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner3Heading" aria-describedby="Banner3Content">
    <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path></g></svg></span></div>
    <div>
      <div class="Polaris-Banner__Heading" id="Banner3Heading">
        <p class="Polaris-Heading">Automatic Theme Integration Failed</p>
      </div>
      <div class="Polaris-Banner__Content" id="Banner3Content">
        <%= @integrator.errors.map{ |error_msg| "<p>#{error_msg}</p>" }.join('').html_safe %>
      </div>
    </div>
  </div>
<% end %>


<% unless @current_store.locations.any? %>
  <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner3Heading" aria-describedby="Banner3Content">
    <div class="Polaris-Banner__Ribbon">
      <span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path></g></svg></span>
    </div>
    <div>
      <div class="Polaris-Banner__Heading" id="Banner3Heading">
        <p class="Polaris-Heading">Add Some In-store Locations</p>
      </div>
      <div class="Polaris-Banner__Content" id="Banner3Content">
        <p style="margin-bottom:8px">In-store reservations and inventory levels won't show to your shoppers until you
          have configured some in-store retail locations.</p>
        <p><a href="<%= locations_path %>" style="font-weight: bold;">Add a Location Now</a>.</p>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:title) { 'Settings' } %>

<%= render partial: 'layouts/partials/error_banner', locals: {item: @current_store} %>

<% if @current_store.distinctly_named_location_count > 0 && !@current_store.sandbox_store? %>
  <% if @current_store.needs_subscription? %>
    <%= render partial: 'stores/subscriptions/partials/need_subscription', locals: { store: @current_store } %>
  <% else %>
    <%= render partial: 'stores/subscriptions/partials/upgrade_subscription', locals: { store: @current_store } %>
  <% end %>
<% end %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <%= form_for @current_store, url: {action: 'save_settings'}, html: {id: 'store_settings_form'} do |f| %>
      <div class="Polaris-Layout">
        <% if @current_store.created_at > 1.day.ago %>
          <%= render partial: "stores/settings/status", locals: { f: f, store: @current_store } %>
        <% end %>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Reserve Popup</h2>
                <p>Customize the header message and data fields of your "Reserve In Store" pop-up</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Header Message', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <div class="Polaris-TextField">
                        <textarea class="Polaris-TextField__Input" name="store[top_msg]" id="store_top_msg" placeholder="Defaults to &quot;Fill out the form below and we'll reserve the product at the location you specify&quot;"><%= f.object.attributes['top_msg'] %></textarea>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Locations', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <fieldset class="Polaris-ChoiceList">
                        <ul class="Polaris-ChoiceList__Choices">
                          <li>
                            <label class="Polaris-Choice" for="store_hide_location_search">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :hide_location_search, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                    <span class="Polaris-Icon">
                                      <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                        <g fill-rule="evenodd">
                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                        </g>
                                      </svg>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">
                                Hide location search
                              </div>
                            </label>
                          </li>
                        </ul>
                      </fieldset>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Fields to collect', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <fieldset class="Polaris-ChoiceList">
                        <ul class="Polaris-ChoiceList__Choices">
                          <li>
                            <label class="Polaris-Choice" for="store_show_phone">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_phone, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Phone number</div>
                            </label>
                          </li>
                          <li>
                            <label class="Polaris-Choice" for="store_show_instructions_from_customer">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_instructions_from_customer, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Preferred Date &amp; Time</div>
                            </label>
                          </li>
                          <li>
                            <label class="Polaris-Choice" for="store_show_additional_fields">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_additional_fields, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Show additional fields (If enabled, by default address will show, you can add more fields from template tab. For more details <a class="Polaris-Link" href="<%= stores_help_path %>">click here.</a>)</div>
                            </label>
                          </li>
                        </ul>
                      </fieldset>
                    </div>

                    <%= render partial: 'stores/shared/liquid_editor_section', locals: {
                        heading: 'FAQ',
                        subheading: 'Customize the FAQ (Frequently Asked Questions) content that shows up when a new reservation is being created by a shopper.',
                        attr: 'reserve_modal_faq_tpl',
                        enabled: @current_store.reserve_modal_faq_tpl_enabled?,
                        db_value: @current_store.reserve_modal_faq_tpl,
                        value_in_use: @current_store.reserve_modal_faq_tpl_in_use,
                        default_value: @current_store.default_reserve_modal_faq_tpl,
                        container_css_class: 'reserveInStore-reserve-modal',
                        extra_css: '.reserveInStore-modal-background { padding-top: 8px; } .reserveInStore-reserve-modal { position: relative; top: 0; }',
                        frontend_mode: true,
                        just_field: true
                    } %>


                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :success_msg, class: 'Polaris-Label__Text' do %>
                            Additional Success Message:
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-TextField">
                        <%= f.text_area :success_msg, class: 'Polaris-TextField__Input', placeholder: "[Default message will display first]" %>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                      <div class="Polaris-Labelled__HelpText">
                        Customize the message that is displayed when customers place new reservations. This will appear after the default content.
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= render partial: "stores/shared/polaris_layout/annotated_section", locals: {
            heading: "Place orders in Shopify",
            desc: "Redirect customers to checkout after reservation is submitted.",
            form: f,
            checkbox: true,
            options: [
                       {
                         label_for: "checkout_without_clearing_cart",
                         label_text: "Redirect to checkout instead of clearing cart.",
                         attr: :checkout_without_clearing_cart,
                       },
                     ],
            input_text_fields: [
                                {
                                  attr: :discount_code,
                                  label_for: "discount_code",
                                  label_text: "Free shipping discount code:",
                                  display_if_enabled: true,
                                  if_enabled_selector: 'data-if_enabled_selector=#store_checkout_without_clearing_cart',
                                  help_text: 'You need to manually create discount code from shopify >> discount.'
                                },
                              ],
            store: @current_store
        } %>


        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Product Page "Reserve" Button</h2>
                <p>Define how we should integrate the product page reservation button that will trigger the modal.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <%= render partial: "stores/settings/integration_option", locals: {
                        f: f,
                        attr: :reserve_product_btn,
                        store: @current_store
                    } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Cart "Reserve" Button</h2>
                <p>Define how we should integrate the cart page reservation button that will trigger the modal.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <%= render partial: "stores/settings/integration_option", locals: {
                        f: f,
                        attr: :reserve_cart_btn,
                        store: @current_store,
                        dont_show_not_showing_msg: true
                    } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Product Page Stock Status Indicator</h2>
                <p>Define how we should integrate the product page stock status component that tells shoppers the status of inventory for the currently being viewed product (if available).</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <%= render partial: "stores/settings/integration_option", locals: {
                        f: f,
                        attr: :stock_status,
                        store: @current_store,
                        dont_show_not_showing_msg: true
                    } %>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <%= f.label :stock_threshold, class: 'Polaris-Label__Text' do %>
                          Show low stock message if stock inventory for that product is less than or equal to:
                        <% end %>
                      </div>
                      <div class="Polaris-TextField">
                        <%= f.number_field :stock_threshold, class: 'Polaris-TextField__Input', required: true, max: 99 %>
                        <div class="Polaris-Select__Backdrop"></div>
                      </div>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :stock_status_behavior_when_stock_unknown, class: 'Polaris-Label__Text' do %>
                            If stock level is NOT available at any physical locations...
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-Select">
                        <select id="store_stock_status_behavior_when_stock_unknown" name="store[stock_status_behavior_when_stock_unknown]" class="Polaris-Select__Input" aria-invalid="false">
                          <option value="in_stock_show_button" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_stock_unknown == 'in_stock_show_button' %>>
                            Show as "In Stock" and Show Reserve Button
                          </option>
                          <option value="unknown_stock_show_button" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_stock_unknown.blank? ||  @current_store.stock_status_behavior_when_stock_unknown == 'unknown_stock_show_button' %>>
                            Show as "Stock Unknown" and Show Reserve Button
                          </option>
                          <option value="unknown_stock_hide_button" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_stock_unknown == 'unknown_stock_hide_button' %>>
                            Show as "Stock Unknown" but Hide Reserve Button
                          </option>
                        </select>
                        <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                        </div>
                        <div class="Polaris-Select__Backdrop"></div>

                      </div>

                    </div>
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :stock_status_behavior_when_no_location_selected, class: 'Polaris-Label__Text' do %>
                            If no location is selected...
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-Select">
                        <select id="store_stock_status_behavior_when_no_location_selected" name="store[stock_status_behavior_when_no_location_selected]" class="Polaris-Select__Input" aria-invalid="false">
                          <option value="use_nearby" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_no_location_selected.blank? || @current_store.stock_status_behavior_when_no_location_selected == 'use_nearby' %>>
                            Use Nearby Location (Default)
                          </option>
                          <option value="hide" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_no_location_selected == 'hide' %>>
                            Don't Show
                          </option>
                        </select>
                        <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                        </div>
                        <div class="Polaris-Select__Backdrop"></div>
                      </div>
                    </div>
                    <div class="Polaris-FormLayout__Item display-if-selected-option"
                         data-if_selected_option="#store_stock_status_behavior_when_no_location_selected"
                         data-selected_value="use_nearby"
                         style="display:none; margin-top: 12px;">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :stock_status_behavior_when_no_nearby_locations_and_no_location, class: 'Polaris-Label__Text' do %>
                            If no location is nearby AND no location is selected...
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-Select">
                        <select id="store_stock_status_behavior_when_no_nearby_locations_and_no_location" name="store[stock_status_behavior_when_no_nearby_locations_and_no_location]" class="Polaris-Select__Input" aria-invalid="false">
                          <option value="hide" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_no_nearby_locations_and_no_location.blank? || @current_store.stock_status_behavior_when_no_nearby_locations_and_no_location == 'hide' %>>
                            Don't Show (Default)
                          </option>
                          <option value="show_first_available" <%= 'selected="selected"' if @current_store.stock_status_behavior_when_no_nearby_locations_and_no_location == 'show_first_available' %>>
                            Use First Available Location
                          </option>
                        </select>
                        <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                        </div>
                        <div class="Polaris-Select__Backdrop"></div>
                      </div>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :stock_status_behavior_when_stock_unknown, class: 'Polaris-Label__Text' do %>
                            When product seems to be only available online...
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-Select">
                        <select id="store_show_when_only_available_online" name="store[show_when_only_available_online]" class="Polaris-Select__Input" aria-invalid="false">
                          <option value="true" <%= 'selected="selected"' if @current_store.show_when_only_available_online.nil? || @current_store.show_when_only_available_online.to_bool %>>
                            Show Inventory Status and Reserve Button
                          </option>
                          <option value="false" <%= 'selected="selected"' unless @current_store.show_when_only_available_online.to_bool %>>
                            Hide Inventory Status and Reserve Button
                          </option>
                        </select>
                        <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                        </div>
                        <div class="Polaris-Select__Backdrop"></div>

                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="show-more-options">
            <a href="#" class="Polaris-Link stock-status-labels-toggle" onclick="$('.stock-status-labels-toggle').toggle(); return false;">
              show more options
            </a>
            <a href="#" class="Polaris-Link stock-status-labels-toggle" onclick="$('.stock-status-labels-toggle').toggle(); return false;" style="display: none;">
              hide more options
            </a>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection stock-status-labels-toggle" style="display: none;">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Stock Status Labels</h2>
                <p>Show/hide stock status labels on reserve and choose location modal.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <fieldset class="Polaris-ChoiceList">
                        <ul class="Polaris-ChoiceList__Choices">
                          <% stock_status_where_to_show.each do |stock_status_where_to_show_key, stock_status_where_to_show_value| %>
                            <li class="stock-status-li">
                              <h2 class="Polaris-Heading">
                                <%= stock_status_where_to_show_value %>
                              </h2>
                              <ul class="Polaris-ChoiceList__Choices">
                                <% if stock_status_where_to_show_key.to_s == "in_reserve_modal_cart_page_locations"
                                     assign stock_status_labels = default_stock_status_labels_cart_page
                                   else
                                     assign stock_status_labels = default_stock_status_labels
                                   end
                                %>

                                <% stock_status_labels.each do |stock_status_label_key, stock_status_label_value| %>
                                  <% default_checked = @current_store.show_stock_status_labels[stock_status_where_to_show_key.to_s].include?(stock_status_label_key.to_s) rescue false %>
                                  <li>
                                    <label class="Polaris-Choice" for="<%= stock_status_where_to_show_key %>_<%= stock_status_label_key %>">
                                      <div class="Polaris-Choice__Control">
                                        <div class="Polaris-Checkbox">
                                          <%= hidden_field_tag "store[show_stock_status_labels][#{stock_status_where_to_show_key}][]", '' %>
                                          <%= check_box_tag "store[show_stock_status_labels][#{stock_status_where_to_show_key}][]", stock_status_label_key,
                                                            default_checked, class: "Polaris-Checkbox__Input", id: "#{stock_status_where_to_show_key}_#{stock_status_label_key}" %>
                                          <div class="Polaris-Checkbox__Backdrop"></div>
                                          <div class="Polaris-Checkbox__Icon">
                                            <span class="Polaris-Icon">
                                              <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                                <g fill-rule="evenodd">
                                                  <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                </g>
                                              </svg>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </label>
                                    <%= stock_status_label_value %>
                                  </li>
                                <% end %>
                              </ul>
                            </li>
                          <% end %>
                        </ul>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Email Notifications</h2>
                <p>Options for the notification email that gets sent to customer email address when reservation status is changed.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Send Email to customers once reservation is', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <fieldset class="Polaris-ChoiceList">
                        <ul class="Polaris-ChoiceList__Choices">
                          <li>
                            <label class="Polaris-Choice" for="store_reservation_fulfilled_send_notification">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :reservation_fulfilled_send_notification, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                    <span class="Polaris-Icon">
                                      <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                        <g fill-rule="evenodd">
                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                        </g>
                                      </svg>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">
                                Fulfilled
                              </div>
                            </label>
                          </li>
                          <li>
                            <label class="Polaris-Choice" for="store_reservation_unfulfilled_send_notification">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :reservation_unfulfilled_send_notification, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                    <span class="Polaris-Icon">
                                      <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                        <g fill-rule="evenodd">
                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                        </g>
                                      </svg>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">
                                Unfulfilled
                              </div>
                            </label>
                          </li>
                        </ul>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if @current_store.created_at <= 1.day.ago %>
          <%= render partial: "stores/settings/status", locals: { f: f, store: @current_store } %>
        <% end %>

        <%= render partial: "stores/settings/admin_functions", locals: { f: f, store: @current_store } %>

        <div class="Polaris-Layout__Section">
          <div class="Polaris-PageActions">
            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
              <div class="Polaris-Stack__Item">
                <button id="submission_button" type="submit" class="Polaris-Button Polaris-Button--primary">
                  <span class="Polaris-Button__Content"><span>Save</span></span></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:javascript) do %>
  <script>
      var parsleyBinder = new ParsleyBinder({
          btnSelector: '#submission_button',
          formSelector: '#store_settings_form'
      });
  </script>
<% end %>
