
<% if @integrator.present? && @integrator.has_errors? %>
  <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner3Heading" aria-describedby="Banner3Content">
    <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path></g></svg></span></div>
    <div>
      <div class="Polaris-Banner__Heading" id="Banner3Heading">
        <p class="Polaris-Heading">Automatic Theme Integration Failed</p>
      </div>
      <div class="Polaris-Banner__Content" id="Banner3Content">
        <%= @integrator.errors.map{ |error_msg| "<p>#{error_msg}</p>" }.join('').html_safe %>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:title) { 'Settings' } %>

<%= render partial: 'layouts/partials/error_banner', locals: {item: @current_store} %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <%= form_for @current_store, url: {action: 'save_settings'}, html: {id: 'store_settings_form'} do |f| %>
      <div class="Polaris-Layout">
        <% if @current_store.created_at > 1.day.ago %>
          <%= render partial: "stores/settings/status", locals: {f: f} %>
        <% end %>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Edit Reservation Pop-up</h2>
                <p>Customize the header message and data fields of your "Reserve In Store" pop-up</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Header Message', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <div class="Polaris-TextField">
                        <textarea class="Polaris-TextField__Input" name="store[top_msg]" id="store_top_msg" placeholder="Defaults to &quot;Fill out the form below and we'll reserve the product at the location you specify&quot;"><%= f.object.attributes['top_msg'] %></textarea>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Fields to collect', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <fieldset class="Polaris-ChoiceList">
                        <ul class="Polaris-ChoiceList__Choices">
                          <li>
                            <label class="Polaris-Choice" for="store_show_phone">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_phone, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Phone number</div>
                            </label>
                          </li>
                          <li>
                            <label class="Polaris-Choice" for="store_show_instructions_from_customer">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_instructions_from_customer, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Preferred Date &amp; Time</div>
                            </label>
                          </li>
                        </ul>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Edit Additional Success Message</h2>
                <p>Customize the message that is displayed when customers place new reservations. This will appear after the default.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :success_msg, class: 'Polaris-Label__Text' do %>
                            Additional success message
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-TextField">
                        <%= f.text_area :success_msg, class: 'Polaris-TextField__Input', placeholder: "[Default message will display first]" %>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Product Page Button</h2>
                <p>Define how we should integrate the product page reservation button that will trigger the modal.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :reserve_product_btn_action, class: 'Polaris-Label__Text' do %>
                            Integration Mode
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-Select">
                        <select id="store_reserve_product_btn_action" name="store[reserve_product_btn_action]" class="Polaris-Select__Input" aria-invalid="false">
                          <option value="auto" <%= 'selected="selected"' if @current_store.reserve_product_btn_action.blank? ||  @current_store.reserve_product_btn_action == 'auto'%>>
                            Automatic (Default)
                          </option>

                          <option value="manual" <%= 'selected="selected"' if @current_store.reserve_product_btn_action == 'manual'%>>
                           Manual (No Automatic Integration)
                          </option>
                          <option value="insert_after" <%= 'selected="selected"' if @current_store.reserve_product_btn_action == 'insert_after'%>>
                            Custom - Insert After...
                          </option>
                          <option value="insert_before" <%= 'selected="selected"' if @current_store.reserve_product_btn_action == 'insert_before'%>>
                            Custom - Insert Before...
                          </option>
                          <option value="append_to" <%= 'selected="selected"' if @current_store.reserve_product_btn_action == 'append_to'%>>
                            Custom - Append To...
                          </option>
                          <option value="prepend_to" <%= 'selected="selected"' if @current_store.reserve_product_btn_action == 'prepend_to'%>>
                            Custom - Prepend To...
                          </option>
                        </select>
                        <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                        </div>
                        <div class="Polaris-Select__Backdrop"></div>

                      </div>


                      <div class="display-if-selected-option"
                           data-if_selected_option="#store_reserve_product_btn_action"
                           data-selected_value="auto"
                           style="display:none; margin-top: 12px;">

                        <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                          <div class="Polaris-Banner Polaris-Banner--statusInfo Polaris-Banner--hasDismiss Polaris-Banner--withinPage" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner5Heading" aria-describedby="Banner5Content">
                            <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorTealDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                        <circle cx="10" cy="10" r="9" fill="currentColor"></circle>
                                                        <path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8m1-5v-3a1 1 0 0 0-1-1H9a1 1 0 1 0 0 2v3a1 1 0 0 0 1 1h1a1 1 0 1 0 0-2m-1-5.9a1.1 1.1 0 1 0 0-2.2 1.1 1.1 0 0 0 0 2.2"></path>
                                                      </svg></span></div>
                            <div>
                              <div class="Polaris-Banner__Heading" id="Banner5Heading">
                                <p class="Polaris-Heading">Not Showing?</p>
                              </div>
                              <div class="Polaris-Banner__Content" id="Banner5Content">
                                <p>If the reserve in-store button doesn't show, then try the Manual or Custom integration methods and consult your web developer (or our support team) for help.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>


                    <div class="display-if-selected-option"
                         data-if_selected_option="#store_reserve_product_btn_action"
                         data-selected_values="insert_after,insert_before,append_to,prepend_to"
                         style="display:none; margin-top: 12px;">

                      <div class="Polaris-FormLayout__Item">
                        <div class="Polaris-Labelled__LabelWrapper">
                          <div class="Polaris-Label">
                            <%= f.label :reserve_product_btn_selector, class: 'Polaris-Label__Text' do %>
                              CSS Selector
                            <% end %>
                          </div>
                        </div>
                        <div class="Polaris-TextField">
                          <%= f.text_field :reserve_product_btn_selector, class: 'Polaris-TextField__Input', placeholder: "Example: form #addtoCartButton" %>
                          <div class="Polaris-TextField__Backdrop"></div>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <% if @current_store.created_at <= 1.day.ago %>
          <%= render partial: "stores/settings/status", locals: {f: f} %>
        <% end %>

        <div class="Polaris-Layout__Section">
          <div class="Polaris-PageActions">
            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
              <div class="Polaris-Stack__Item">
                <button id="submission_button" type="submit" class="Polaris-Button Polaris-Button--primary">
                  <span class="Polaris-Button__Content"><span>Save</span></span></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:javascript) do %>
  <script>
      ShopifyApp.ready(function () {
          ShopifyApp.Bar.initialize({title: "Settings", icon: "<%= image_url('reserve_32x32.png') %>"});
      });


      var parsleyBinder = new ParsleyBinder({
          btnSelector: '#submission_button',
          formSelector: '#store_settings_form'
      });
  </script>
<% end %>
