
<% if @integrator.has_errors? %>
  <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="Banner3Heading" aria-describedby="Banner3Content">
    <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path></g></svg></span></div>
    <div>
      <div class="Polaris-Banner__Heading" id="Banner3Heading">
        <p class="Polaris-Heading">Automatic Theme Integration Failed/p>
      </div>
      <div class="Polaris-Banner__Content" id="Banner3Content">
        <%= @integrator.errors.map{ |error_msg| "<p>#{error_msg}</p>" }.html_safe %>
      </div>
    </div>
  </div>
<% end %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <%= form_for @current_store, url: {action: 'save_settings'}, html: {id: 'store_settings_form'} do |f| %>
      <div class="Polaris-Layout">

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Edit Reservation Pop-up</h2>
                <p>Customize the header message and data fields of your "Reserve In Store" pop-up</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Header Message', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <div class="Polaris-TextField">
                        <textarea class="Polaris-TextField__Input" name="store[top_msg]" id="store_top_msg" placeholder="Defaults to &quot;Fill out the form below and we'll reserve the product at the location you specify&quot;"><%= f.object.attributes['top_msg'] %></textarea>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Fields to collect', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <fieldset class="Polaris-ChoiceList">
                        <ul class="Polaris-ChoiceList__Choices">
                          <li>
                            <label class="Polaris-Choice" for="store_show_phone">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_phone, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Phone number</div>
                            </label>
                          </li>
                          <li>
                            <label class="Polaris-Choice" for="store_show_instructions_from_customer">
                              <div class="Polaris-Choice__Control">
                                <div class="Polaris-Checkbox">
                                  <%= f.check_box :show_instructions_from_customer, class: 'Polaris-Checkbox__Input' %>
                                  <div class="Polaris-Checkbox__Backdrop"></div>
                                  <div class="Polaris-Checkbox__Icon">
                                  <span class="Polaris-Icon">
                                    <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                      <g fill-rule="evenodd">
                                        <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                      </g>
                                    </svg>
                                  </span>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Choice__Label">Preferred date & time</div>
                            </label>
                          </li>
                        </ul>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Edit Success Message</h2>
                <p>Customize the message that is displayed when customers place new reservations</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label 'Additional success message', class: 'Polaris-Label__Text' %>
                        </div>
                      </div>
                      <div class="Polaris-TextField">
                        <%= f.text_area :success_msg, class: 'Polaris-TextField__Input' %>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Edit Reservation Email Templates</h2>
                <p>Customize the reservation email that gets sent to customers using HTML</p>
                <%= button_tag id: "email_template_update_btn", class: "Polaris-Button", type: "button" do %>
                  <span class="Polaris-Button__Content"><span>Update Preview</span></span>
                <% end %>
                <div>
                  <a class="Polaris-Button Polaris-Button--plain" id="email_template_reset_btn" href="#">
                    <span class="Polaris-Button__Content"><span>Reset to Default Template</span></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :email_template_preview, class: "Polaris-Label__Text" do %>
                            Email Preview
                          <% end %>
                        </div>
                      </div>
                      <div class="Polaris-TextField Polaris-TextField--multiline">
                        <div class="Polaris-TextField__Input preview-text-fix">
                          <div id="fera_email_template"></div>
                        </div>
                        <div class="Polaris-TextField__Backdrop preview-box-fix"></div>
                      </div>
                    </div>

                    <div class="Polaris-FormLayout__Item">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label">
                          <%= f.label :email_template, class: "Polaris-Label__Text" do %>
                            HTML Editor
                          <% end %>
                        </div>
                      </div>
                      <div id="parsley_email_template_errors" class="parsley-danger-text"></div>
                      <div id="ace_email_editor" class="ace-editor-stylings"></div>
                      <textarea style="display: none" id="default_email_template"><%= Store::default_email_template %></textarea>
                      <%= f.text_area :email_template, {style: "display: none;", data: {'parsley-liquid': '', 'parsley-errors-container': '#parsley_email_template_errors'}, value: @current_store.email_template_in_use} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Layout__Section">
          <div class="Polaris-PageActions">
            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
              <div class="Polaris-Stack__Item">
                <button id="submission_button" type="submit" class="Polaris-Button Polaris-Button--primary">
                  <span class="Polaris-Button__Content"><span>Save</span></span></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:javascript) do %>
  <script>
      ShopifyApp.ready(function () {
          ShopifyApp.Bar.initialize({title: "Settings", icon: "<%= image_url('reserve_32x32.png') %>"});
      });
      var emailTemplateEditor = new LiquidTemplateEditor({
          templateFormFieldSelector: '#store_email_template',
          aceEditorId: 'ace_email_editor',
          resetButtonSelector: '#email_template_reset_btn',
          updateButtonSelector: '#email_template_update_btn',
          defaultTemplateSelector: "#default_email_template",
          previewContainerSelector: '#fera_email_template',
          templateRenderParameters: <%= @current_store.preview_email_liquid_params %>,
          submissionButtonSelector: '#submission_button'
      });
      var parsleyBinder = new ParsleyBinder({
          btnSelector: '#submission_button',
          formSelector: '#store_settings_form'
      });
  </script>
<% end %>
