

<% content_for(:title) { 'Webhooks' } %>
<%= render partial: 'layouts/partials/topnavbar/menu' %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <%= form_with(model: @current_store, url: { action: 'save_settings' }, html: { id: 'store_settings_form' }) do |f| %>
      <input type="hidden" value="<%= stores_webhooks_url %>" name="next_url">

      <div class="Polaris-Layout">
        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Webhooks</h2>
                <p>Webhooks allow you to react on your own servers whenever an event occurs on the Reserve In-store servers.</p>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div class="Polaris-FormLayout">
                    <% @current_store.webhooks.each do |hook| %>
                      <div class="Polaris-FormLayout__Item">
                        <div class="Polaris-Label">
                          <label class="Polaris-Label__Text">Endpoint</label>
                        </div>
                        <div class="Polaris-TextField">
                          <input type="text" name="store[webhooks][][url]" class="Polaris-TextField__Input" value="<%= hook['url'] %>" />
                          <div class="Polaris-TextField__Backdrop"></div>
                        </div>
                      </div>

                      <div class="Polaris-FormLayout__Item">
                        <div class="Polaris-Label">
                          <label class="Polaris-Label__Text">Auth Token</label>
                        </div>
                        <div class="Polaris-TextField">
                          <input type="text" name="store[webhooks][][auth_token]" class="Polaris-TextField__Input" value="<%= hook['auth_token'] %>" />
                          <div class="Polaris-TextField__Backdrop"></div>
                        </div>
                      </div>

                      <div class="Polaris-FormLayout__Item">
                        <div class="Polaris-Labelled__LabelWrapper">
                          <div class="Polaris-Label">
                            <%= f.label "Topic", class: "Polaris-Label__Text"%>
                          </div>
                        </div>

                        <fieldset class="Polaris-ChoiceList">
                          <ul class="Polaris-ChoiceList__Choices">
                            <% store_webhooks.each do |topic| %>
                              <% default_checked = hook["topic"].include?(topic.to_s) rescue false %>
                              <li>
                                <label class="Polaris-Choice" for="store_webhooks_<%= topic %>">
                                  <div class="Polaris-Choice__Control">
                                    <div class="Polaris-Checkbox">
                                      <%= check_box_tag "store[webhooks][][topic][]", topic, default_checked,
                                                        class: "Polaris-Checkbox__Input", id: "store_webhooks_#{topic}" %>
                                      <div class="Polaris-Checkbox__Backdrop"></div>
                                      <div class="Polaris-Checkbox__Icon">
                                        <span class="Polaris-Icon">
                                          <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                                            <g fill-rule="evenodd">
                                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                            </g>
                                          </svg>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="Polaris-Choice__Label"><%= topic %></div>
                                </label>
                              </li>
                            <% end %>
                          </ul>
                        </fieldset>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="Polaris-Layout__Section">
              <div class="Polaris-PageActions">
                <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionTrailing">
                  <div class="Polaris-Stack__Item">
                    <button id="submission_button" type="submit" class="Polaris-Button Polaris-Button--primary">
                      <span class="Polaris-Button__Content"><span>Save</span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
