<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <% if @reservations.any? %>
      <div class="Polaris-Stack">
        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
        <div class="Polaris-Stack__Item">
          <button type="button" class="Polaris-Button Polaris-Button--primary reservation-modal-show">
            <span class="Polaris-Button__Content"><span>Add New Reservation</span></span></button>
        </div>
      </div>
      <br>

      <div class="Polaris-Card">
        <div class="">
          <div class="Polaris-DataTable Polaris-DataTable--hasFooter">
            <div class="Polaris-DataTable__ScrollContainer">
              <table class="Polaris-DataTable__Table">
                <thead>
                <tr>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--header" scope="col" aria-disabled="true">
                    Placed at
                  </th>
                  <th aria-hidden="true" role="presentation" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational Polaris-DataTable__Cell--header"></th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Location
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Product
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Customer Details
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Notes
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Status
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @products = related_products(@reservations) %>
                <% @reservations.each do |reservation| %>
                  <tr class="Polaris-DataTable__TableRow">
                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--text" scope="row"><%= local_time(reservation.created_at) %></th>
                    <td aria-hidden="true" role="presentation" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational"></td>

                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text"><%= reservation.location.name %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                      <% product = @products.select {|p| p.id.to_s == reservation.platform_product_id} if @products.present? %>
                      <% if product.present? %>
                        <%= product.first.title %>
                        <div style="font-size:smaller">
                          <% variant = product.first.variants.select {|p| p.id.to_s == reservation.platform_variant_id} %>
                          <% if variant.present? && variant.first.title != 'Default Title' %>
                            <%= variant.first.title %>
                          <% end %>
                          <% if reservation.line_item.present? %>
                            <% eval(reservation.line_item).each do |line_item| %>
                              <% if line_item[1].present? %>
                                <p class="ris-text-small"><%= line_item[0] %>: <%= line_item[1] %></p>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div>
                      <% else %>
                        <%= reservation.platform_product_id %>
                        <% if reservation.platform_variant_id.present? %>
                          <div style="font-size:smaller">
                            <%= reservation.platform_variant_id %>
                          </div>
                        <% end %>
                      <% end %>
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text"><%= reservation.customer_name %>
                      <br><%= reservation.customer_email %><br><%= reservation.customer_phone %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text"><%= reservation.instructions_from_customer %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                      <% if reservation.fulfilled? %>
                        Fulfilled
                      <% else %>
                        <%= form_for :reservation, url: reservation_path(reservation), method: :put do |f| %>
                          <%= f.hidden_field :fulfilled, value: true %>
                          <button type="submit" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeSlim">
                            <span class="Polaris-Button__Content"><span>Fulfill</span></span></button>
                        <% end %>
                      <% end %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                      <%= link_to 'Delete', reservation, method: :delete, class: 'Polaris-Button Polaris-Button--destructive Polaris-Button--sizeSlim', data: {confirm: "Are you sure?"} %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
                <tfoot class="Polaris-DataTable__TableFoot">
                <tr>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--footer">
                    <p>
                      Showing <%= @reservations.count %>
                      of <%= pluralize(@current_store.reservations.count, 'reservation') %>.
                    </p>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <br>
      <% if @reservations.count < @current_store.reservations.count %>
        <%= render partial: 'layouts/partials/polaris_pagination', locals: {items: @reservations} %>
      <% end %>

    <% else %>
      <div class="Polaris-Stack">
        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
          <p>
            There are no reservations yet.
          </p>
        </div>
        <div class="Polaris-Stack__Item">
          <button type="button" class="Polaris-Button Polaris-Button--primary reservation-modal-show">
            <span class="Polaris-Button__Content"><span>Add New Reservation</span></span></button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<%= render partial: 'new_reservation_modal' %>

<script>
    polarisTableHeaderHeightFix();

    var reservationModal = new PolarisModal({
        showClass: "reservation-modal-show",
        containerID: "reservation-modal-container",
        formID: "reservationCreateForm",
        closeClass: "reservation-modal-close",
        submitBtnID: "reservation-modal-submit"
    });
</script>
