<div class="card-header">
  <h2>
  <div class="nav nav-pills" role="tablist" >
    <a class="nav-link <%= 'active' if active_tab == 'summary' %>" href="<%= admin_store_show_path(store) %>">Summary</a>
    <a class="nav-link <%= 'active' if active_tab == 'tools' %>" href="<%= admin_store_tools_path(store) %>">Admin Tools</a>
    <a class="nav-link <%= 'active' if active_tab == 'settings' %>" href="<%= admin_store_settings_path(store) %>">Settings</a>
    <a class="nav-link <%= 'active' if active_tab == 'templates' %>" href="<%= admin_store_templates_path(store) %>">Templates</a>
    <a class="nav-link <%= 'active' if active_tab == 'locations' %>" href="<%= admin_store_locations_path(store) %>">Locations</a>
    </div>
  </h2>
</div>
