<!-- START Sidebar (left)-->

<div class="left-side-menu hidden-embedded-mode">

  <div class="sidebar-content">
    <!--- Sidemenu -->
    <div id="sidebar-menu" class="slimscroll-menu">
      <ul class="metismenu" id="menu-bar">
        <!-- Iterates over all sidebar items-->
        <li class="<%= 'active mm-active' if controller?('admins/stores') || controller?('admins/users') || controller?('admins/uninstallations') %>">
          <a href="#stores_nav" title="Stores" aria-expanded="false" class="<%= 'active' if controller?('admins/stores') || controller?('admins/users') %>">
            <i class="fad fa-cog"></i>
            <span>Stores</span>

            <i class="fas fa-chevron-right menu-arrow"></i>
          </a>
          <ul id="stores_nav" class="nav-second-level" aria-expanded="false">
            <li class="<%= 'active mm-active' if controller?('admins/stores') %>">
              <a href="<%= main_app.admin_stores_path(created_at: 'DESC') %>" title="All Stores">
                <span>All Stores</span>
              </a>
            </li>

            <li class="<%= 'active mm-active' if controller?('admins/users')%>">
              <a href="<%= main_app.admin_users_path %>" title="Users">
                <span>Accounts</span>
              </a>
            </li>

            <li class="<%= 'active mm-active' if controller?('admins/uninstallations')%>">
              <a href="<%= main_app.admin_uninstallations_path %>" title="Uninstallation">
                <span>Uninstallations</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="<%= 'active mm-active' if controller?('admins/plans') %>">
          <a href="#plans" title="Plans Plans" aria-expanded="false" class="<%= 'active' if controller?('admins/plans')%>">
            <i class="fad fa-money-bill"></i>
            <span>Plans</span>

            <i class="fas fa-chevron-right menu-arrow"></i>
          </a>
          <ul id="plans" class="nav-second-level" aria-expanded="false">
            <li class="<%= 'active' if controller?('admins/plans') %>">
              <a href="<%= main_app.admin_plans_path %>" title="Paid Plans">
                <i class="fa fa-money-bill"></i>
                <span>Plans</span>
              </a>
            </li>
          </ul>  
        </li>  
      </ul>
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
