<div class="row">
  <div class="col">
    <h5>General Details</h5>
    <table class="table table-responsive table-striped">
      <tr>
        <th>Name</th>
        <td><%= store.name %></td>
      </tr>
      <tr>
        <th>Created At</th>
        <td>
          <%= local_time(store.created_at) %>
          (<%= time_ago_in_words(store.created_at) %> ago)
        </td>
      </tr>
      <tr>
        <th>Connection</th>
        <td>
          <%= render(partial: 'admins/stores/shared/connection_status', locals: { store: store }) %>
        </td>
      </tr>
      <tr>
        <th>Subscription</th>
        <td>
          <%= store.subscription.nice_price if store.subscription.present? %>
        </td>
      </tr>
      <tr>
        <th>URL</th>
        <td>
          <a target="<%= store.name %>" href="https://<%= store.shopify_domain %>"><%= store.shopify_domain %> <i class="fa fa-external-link"></i></a>
        </td>
      </tr>
    </table>
  </div>
  <div class="col">
    <h5>Owner Contact Details</h5>
    <% if @user.any? %>
      <% @user.each do |user| %>
      <table class="table table-responsive table-striped">
        <tr>
          <th>Name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><%= user.phone %></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td>
            <%= local_time(user.created_at) %>
            (<%= time_ago_in_words(user.created_at) %> ago)
          </td>
        </tr> 
      </table>
      <% end %>
    <% end %>  
  </div>
</div>    
    
<div class="row">
  <div class="col">
    <h5>Technical Details</h5>
    <table class="table table-responsive table-striped">
      <tr>
        <th>API Keys</th>
        <td>
          Public Key: <%= store.public_key %><br>
          Secret Key: <%= store.secret_key %>
        </td>
      </tr>
    </table>
  </div>
</div>

<h5>Admin Functions</h5>
<table class="table table-responsive table-striped">
  <tr>
    <th>Notes</th>
    <td>
      <div id="admin-notes-section">
        <pre id="admin-note"><%= store.admin_notes.present? ? store.admin_notes.to_s : "There are no notes yet." %></pre>
        <button id="admin-note-button" class="btn btn-default" type="button">Add an admin note</button>
      </div>
    </td>
  </tr>
</table>

<% content_for(:before_body_end) do %>
  <script>
      var adminNotesUpdater = new AdminNotesUpdater({
          button_id: "admin-note-button",
          notes_id: "admin-note",
          section_id: "admin-notes-section",
          store_id: "<%= store.id %>"
      });
  </script>
<% end %>
