<div class="page-header text-center mt-5">
  <%= image_tag('vertical_logo.png', class: "vertical-logo") %>
</div>

<div class="admin-reset-pwd">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control input-password", required: true, placeholder: "New password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-password", required: true, placeholder: "Confirm new password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "btn" %>
  </div>
<% end %>
</div>
<%= render "admins/shared/links" %>
