<div class="page-header text-center mt-5">
  <%= image_tag('vertical_logo.png', class: "vertical-logo") %>
</div>

<div class="admin-login">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-email",
                        required: true, placeholder: "Enter email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn" %>
    </div>
  <% end %>
</div>
