<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>
              <%= render partial: 'shared_mailer/fera_header', locals: {title: @reservation.location.name} %>
              <p>
                <%= "#{@reservation.customer_name} has submitted a new reservation request for #{@reservation.shopify_product_link}" %>
              </p>
            </td>
          </tr>
          <tr style="margin-top: 20px">
            <td>
              <h4>Contact Information</h4>
              <p>
                <%= @reservation.customer_email %>
                <% if @reservation.customer_phone.present? %>
                  <br><%= number_to_phone(@reservation.customer_phone) %>
                <% end %>
              </p>
              <% if @reservation.instructions_from_customer.present? %>
                <hr style="max-width: 100px;">
                <h4>Instructions From Customer</h4>
                <p>
                  <%= @reservation.instructions_from_customer %>
                </p>
              <% end %>
              <hr style="max-width: 100px;">
              <h4>Store Location</h4>
              <p>
                <%= @reservation.location.name %><br>
                <%= @reservation.location.address %><br>
                <%= "#{@reservation.location.city} #{@reservation.location.state}" %><br>
                <%= @reservation.location.country %>
              </p>
            </td>
          </tr>
          <tr style="margin-top: 20px">
            <td>
              <p>Cheers,</p>
              <%= render partial: 'shared_mailer/team_signature' %>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->

    </td>
  </tr>
</table>
