
<div class="ris-location-option">
  <input type="radio" value="<%= location_id %>"
         name="reservation[location_id]"
         id="reservation_location_id-<%= location_id %>"  <%= 'required' unless location_id == 0 %>>
  <label class="ris-location-label"
         for="reservation_location_id-<%= location_id %>">
    <%= name %>
  </label>
  <div class="ris-location-content">
    <div class="ris-location-content-left">
      <div class="ris-location-address">
        <%= address %><br>
        <%= formatted_address %><br>
        <%= country %>
      </div>
      <div class="ris-location-details">
        <%= details.to_s.html_safe %>
      </div>
    </div>
    <div class="ris-location-content-right">
      <a href="<%= map_url.presence || '#' %>" target="_blank" class="ris-location-mapPin">
        <img class="ris-location-mapPin-img" src="<%= asset_url('map_pin.png') %>">
        <span class="ris-location-mapPin-text">View on map</span>
      </a>
    </div>
  </div>
</div>
