<div class="modal reserveInStore-modal-background">
  <div class="reserveInStore-reserve-modal">

    <header>
      <span class="close reserveInStore-reserve-close">&times;</span>
      <h2 class="ris-main-header">Reserve In-store</h2>
      <p class="ris-instruction"><%= @store.top_msg %></p>
      <ul class="reserveInStore-error-ul" style="display:none;"></ul>
    </header>

    <%= form_for :reservation, remote: true, html: {class: 'reserveInStore-reservation-form'} do |f| %>
      <section class="ris-columns">

        <div class="ris-column">
          <h2 class="ris-header-text">1. SELECT A LOCATION:</h2>
          <% @store.locations.each do |location| %>
            <%= render partial: 'layouts/partials/location_radio_button', locals: {location_id: location.id, name: location.name, map_url: location.google_map_url, address: location.address,
                                                                                   formatted_address: location.formatted_address, country: location.country, custom_html: location.custom_html} %>
          <% end %>
        </div>

        <div class="ris-column">
          <h2 class="ris-header-text">2. ENTER YOUR CONTACT INFO</h2>
          <div class="ris-contact-field">
            <%= f.label 'Your email' %>
            <%= f.email_field :customer_email, required: true %>
          </div>

          <div class="ris-contact-field">
            <%= f.label 'Your name' %>
            <%= f.text_field :customer_name, required: true %>
          </div>

          <% if @store.show_phone %>
            <div class="ris-contact-field">
              <%= f.label 'Your contact number' %>
              <%= f.text_field :customer_phone %>
            </div>
          <% end %>

          <% if @store.show_instructions_from_customer %>
            <div class="ris-contact-field">
              <%= f.label 'Pick up date & time' %>
              <%= f.text_field :instructions_from_customer %>
            </div>
          <% end %>
        </div>

        <div class="ris-column" style="width: 100%">
          <h2 class="ris-header-text">3. CONFIRM YOUR RESERVATION</h2>

          <div class="ris-product-detail">
            <div class="ris-product-price"><%= @price %></div>
            <div>
              <p class="ris-text-large"><%= @product_title %></p>
              <% if @variant_title.present? && @variant_title != 'Default Title' %>
                <p class="ris-text-small"><%= @variant_title %></p>
              <% end %>
              <% if @line_item.present? %>
                <% @line_item.each do |line_item| %>
                  <% if line_item[1].present? %>
                    <p class="ris-text-small"><%= line_item[0] %>: <%= line_item[1] %></p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <p>You will receive a confirmation email after you submit your reservation.</p>
          <button type="button" class="reserveInStore-form-submit">Reserve now</button>
          <br>
          <div class="ris-text-block">
            <p class="ris-text-medium">FREQUENTLY ASKED QUESTIONS:</p>
          </div>
          <div class="ris-text-block">
            <p class="ris-text-medium">How does reserve in-store work?</p>
            <p class="ris-text-small">Reserve and Pick Up allows you to put your product on hold with ease! No
              hassles, no commitments! You should receive an email confirmation within 24 hours.</p>
          </div>
          <div class="ris-text-block">
            <p class="ris-text-medium">What happens if I don't pick up my item?</p>
            <p class="ris-text-small">If you do not pickup your product within the time specified in this reservation
              then it may be sold to another customer. We recommend you give the store location a call to let them
              know that you need more time or if you need to cancel your reservation.</p>
          </div>
        </div>

      </section>
    <% end %>
  </div>

  <div class="reserveInStore-success-modal reserveInStore-center" style="display: none;">
    <div class="reserveInStore-modal-icon">
      <span class="reserveInStore-center">&#10004;</span>
    </div>
    <h1>Success!</h1>
    <p><%= @store.success_msg %><br>
      A confirmation email has been sent to you.</p>
    <button type="button" class="btn reserveInStore-success-close">Ok</button>
  </div>
</div>

