<div class="modal reserveInStore-modal-background">
  <div class="reserveInStore-reserve-modal wrapper">
    <div class="">
      <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto:300" rel="stylesheet">

      <header>
        <span class="close reserveInStore-reserve-close">&times;</span>
        <h1 class="reserveInStore-reserve-mainHeader">Reserve In-store</h1>
        <p>Fill out the form below and we'll reserve the product at the location you specify.</p>
      </header>

      <!--      TODO error list need to be add-->
      <%= form_for :reservation, remote: true, html: {class: 'reserveInStore-reservation-form'} do |f| %>
        <section class="columns">

          <div class="column">
            <h2>1. SELECT A LOCATION:</h2>
            <%= f.collection_radio_buttons :location_id, @store.locations, :id, :name, {}, required: true do |b| %>
              <%= b.radio_button %><%= b.label %>
              <p><%= b.object.address %><br>
                <%= b.object.city %>, <%= b.object.state %>, <%= b.object.country %>, <%= b.object.zip %></p>
              <br>
              <div class="view-on-map">
                <img class="img-responsive" src="<%= image_url('map_pin') %>" style="width:2em; height:auto;">
                <a href="<%= b.object.google_map_url %>" target="_blank">View on map</a>
              </div>
            <% end %>
            <%# @store.locations.each do |location| %>
            <%#= f.collection_radio_buttons :location_id, @store.locations, :id, :name, {}, required: true %>
            <%# end %>

            <%#= f.label :location %>
            <%# if @store.locations.count == 1 %>
            <%#= f.hidden_field :location_id, :value => @store.locations.first.id %>
            <!--            <input value="<%#= @store.locations.first.name %>" readonly="readonly" type="text">-->
            <%# else %>
            <%#= f.select :location_id, @store.locations.collect {|p| [p.name, p.id]}, {include_blank: true}, required: true %>
            <%# end %>
          </div>

          <div class="column">
            <h2>2. ENTER YOUR CONTACT INFO</h2>
            <%= f.label :name %>
            <%= f.text_field :customer_name, required: true %>

            <%= f.label :email %>
            <%= f.email_field :customer_email, required: true %>

            <% if @store.show_phone %>
              <%= f.label :phone %>
              <%= f.text_field :customer_phone %>
            <% end %>

            <% if @store.show_instructions_from_customer %>
              <%= f.label 'WHAT DATA/TIME WOULD YOU LIKE IT HELD FOR?' %>
              <%= f.text_field :instructions_from_customer %>
            <% end %>
          </div>

          <div class="column">
            <h2>3. CONFIRM YOUR RESERVATION</h2>
            <h4 class="modal-title reserveInStore-modal-title"><br>
              <p><%= @product_title %><br>
                <%= @variant_title %></p>
              <p><%= @price %></p>
            </h4>
            <div class="modal-footer reserveInStore-modal-footer">
              <button type="button" class="btn reserveInStore-form-submit">Reserve</button>
            </div>
            <h2>How does reserve in-store work?</h2>
            <p>Reserve and Pick Up allows you to put your product on hold with ease! No hassles, no commitments! You
              should receive an email confirmation within 24 hours.</p>
            <h2>What happens if I don't pick up my item?</h2>
            <p>If you do not pickup your product within the time specified in this reservation then it may be sold to
              another customer. We recommend you give the store location a call to let them know that you need more time
              or if you need to cancel your reservation.</p>
          </div>

        </section>
      <% end %>

      <footer>
        <h3>Footer</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, porro. Doloribus vitae non dolores modi
          dolorum commodi perspiciatis dicta nostrum minus esse, totam officia, quibusdam amet quas tempora?
          Voluptatibus, esse.</p>
      </footer>

    </div>

    <!--    <div class="modal-header reserveInStore-modal-header">-->
    <!--      <span class="close reserveInStore-reserve-close">&times;</span>-->
    <!--      <h4 class="modal-title reserveInStore-modal-title"><%#= @store.top_msg %><br>-->
    <%# if @product_title.present? %>
    <!--          Fill out this form, and the product <%#= @product_title %>-->
    <%# if @variant_title.present? && @variant_title != 'Default Title' %>
    <!--            (<%#= @variant_title %>)-->
    <%# end %>
    <!--          will be reserved for you at selected location.-->
    <%# end %>
    <!--      </h4>-->
    <!--    </div>-->

    <!--    <div class="modal-body reserveInStore-modal-body">-->
    <%#= form_for :reservation, remote: true, html: {class: 'reserveInStore-reservation-form'} do |f| %>
    <!--        <ul class="reserveInStore-error-ul" style="display:none;"></ul>-->
    <%#= f.label :location %>
    <%# if @store.locations.count == 1 %>
    <%#= f.hidden_field :location_id, :value => @store.locations.first.id %>
    <!--          <input value="<%#= @store.locations.first.name %>" readonly="readonly" type="text">-->
    <%# else %>
    <%#= f.select :location_id, @store.locations.collect {|p| [p.name, p.id]}, {include_blank: true}, required: true %>
    <%# end %>

    <%#= f.label :name %>
    <%#= f.text_field :customer_name, required: true %>

    <%#= f.label :email %>
    <%#= f.email_field :customer_email, required: true %>

    <%# if @store.show_phone %>
    <%#= f.label :phone %>
    <%#= f.text_field :customer_phone %>
    <%# end %>

    <%# if @store.show_instructions_from_customer %>
    <%#= f.label 'WHAT DATA/TIME WOULD YOU LIKE IT HELD FOR?' %>
    <%#= f.text_field :instructions_from_customer %>
    <%# end %>
    <%# end %>
    <!--    </div>-->

    <!--        <div class="modal-footer reserveInStore-modal-footer">-->
    <!--          <button type="button" class="btn reserveInStore-form-submit">Reserve</button>-->
    <!--        </div>-->
  </div>

  <div class="reserveInStore-success-modal reserveInStore-center" style="display: none;">
    <div class="reserveInStore-modal-icon">
      <span class="reserveInStore-center">&#10004;</span>
    </div>
    <h1>Success!</h1>
    <p><%= @store.success_msg %><br>
      A confirmation email has been sent to you.</p>
    <button type="button" class="btn reserveInStore-success-close">Ok</button>
  </div>
</div>

