<div id="location-<%= action %>-container" style="display:none;">
  <div class="Polaris-Modal-Dialog__Container" data-polaris-layer="true" data-polaris-overlay="true">
    <div class="Polaris-Modal-Dialog__Modal" role="dialog" aria-labelledby="modal-header" tabindex="-1">
      <div class="Polaris-Modal-Header">
        <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
            <div id="modal-header9">
              <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall"><%= action.capitalize %> Location</h2>
            </div>
          </div>
          <div class="Polaris-Stack__Item">
            <button class="Polaris-Modal-Header__CloseButton location-<%= action %>-close">
              <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path></svg></span>
            </button>
          </div>
        </div>
      </div>

      <div class="Polaris-Modal__BodyWrapper">
        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true" polaris="[object Object]">
          <section class="Polaris-Modal-Section">
            <%= form_for location, html: {class: 'Polaris-FormLayout', id: "location-#{action}-form"} do |f| %>

              <div class="Polaris-FormLayout__Item">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label">
                    <%= f.label :name, class: 'Polaris-Label__Text' %>
                  </div>
                </div>
                <div class="Polaris-TextField">
                  <%= f.text_field :name, class: 'Polaris-TextField__Input', required: true %>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>

              <div role="group" class="Polaris-FormLayout--condensed">
                <div class="Polaris-FormLayout__Items">
                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label :email, class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-TextField">
                      <%= f.email_field :email, class: 'Polaris-TextField__Input', required: true, 'data-parsley-type': 'email' %>
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>

                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label :phone, class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-TextField">
                      <%= f.text_field :phone, class: 'Polaris-TextField__Input' %>
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div role="group" class="Polaris-FormLayout--condensed">
                <div class="Polaris-FormLayout__Items">
                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label :address, class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-TextField">
                      <%= f.text_field :address, class: 'Polaris-TextField__Input' %>
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>

                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label :city, class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-TextField">
                      <%= f.text_field :city, class: 'Polaris-TextField__Input' %>
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div role="group" class="Polaris-FormLayout--condensed">
                <div class="Polaris-FormLayout__Items">
                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label :country, class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-Select">
                      <select class="Polaris-Select__Input crs-country" data-region-id="<%= action %>-region-select" required="required" name="location[country]"></select>
                      <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                      </div>
                      <div class="Polaris-Select__Backdrop"></div>
                    </div>
                  </div>

                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label :state, class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-Select">
                      <select class="Polaris-Select__Input" id="<%= action %>-region-select" required="required" name="location[state]"></select>
                      <div class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span>
                      </div>
                      <div class="Polaris-Select__Backdrop"></div>
                    </div>
                  </div>

                  <div class="Polaris-FormLayout__Item">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <%= f.label 'Postal / ZIP Code', class: 'Polaris-Label__Text' %>
                      </div>
                    </div>
                    <div class="Polaris-TextField">
                      <%= f.text_field :zip, class: 'Polaris-TextField__Input' %>
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          </section>
        </div>
      </div>

      <div class="Polaris-Modal-Footer">
        <div class="Polaris-Modal-Footer__FooterContent">
          <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
            <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
            <div class="Polaris-Stack__Item">
              <div class="Polaris-ButtonGroup">
                <div class="Polaris-ButtonGroup__Item">
                  <button type="button" class="Polaris-Button location-<%= action %>-close">
                    <span class="Polaris-Button__Content"><span>Cancel</span></span></button>
                </div>
                <div class="Polaris-ButtonGroup__Item">
                  <button type="submit" class="Polaris-Button Polaris-Button--primary" id="location-<%= action %>-submit">
                    <span class="Polaris-Button__Content"><span>Save</span></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Polaris-Modal__Backdrop"></div>
</div>

<script>
    var opts = {
        containerID: "location-<%= action %>-container",
        formID: "location-<%= action %>-form",
        closeClass: "location-<%= action %>-close",
        submitBtnID: "location-<%= action %>-submit"
    };
    // attach a event handler to the "Add New Location" button
    <% if action == 'new' %>
    opts.showClass = "location-modal-show";
    <% end %>
    var locationModal = new PolarisModal(opts);
    window.crs.init()
</script>
