<!-- Modal -->
<div class="modal fade" id=<%= id %> tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for location, html: {class: 'form-group', id: 'locationForm'} do |f| %>
        <div class="modal-header">
          <h4 class="modal-title"><%= action %> Location</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', required: true %>

          <%= f.label :address %>
          <%= f.text_field :address, class: 'form-control' %>

          <%= f.label :country %>
          <%= f.text_field :country, class: 'form-control' %>

          <%= f.label :state %>
          <%= f.text_field :state, class: 'form-control' %>

          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control', required: true, 'data-parsley-type': 'email' %>

          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!--Parsley form validation-->
<script>
    $('#locationForm').parsley();
</script>
