<% content_for(:title) { 'Locations' } %>

<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <% if @locations.any? %>
      <div class="Polaris-Stack">
        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
        <div class="Polaris-Stack__Item">
          <%= link_to 'Add New Store Location', new_location_path, class: 'Polaris-Button Polaris-Button--primary' %>
        </div>
      </div>
      <br>

      <div class="Polaris-Card">
        <div class="">
          <div class="Polaris-DataTable Polaris-DataTable--hasFooter">
            <div class="Polaris-DataTable__ScrollContainer">
              <table class="Polaris-DataTable__Table">
                <thead>
                <tr>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--header" scope="col" aria-disabled="true">
                    Name
                  </th>
                  <th aria-hidden="true" role="presentation" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational Polaris-DataTable__Cell--header"></th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Address
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Email
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                    Phone
                  </th>
                  <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--text" scope="col" aria-disabled="true">
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @locations.each do |location| %>
                  <tr class="Polaris-DataTable__TableRow">
                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row">
                      <p class="polaris-header-text">
                        <%= location.name %>
                        <% if !location.visible_in_product? || !location.visible_in_cart? %>
                          <br><small>(Not visible in
                        <% end %>
                        <% if !location.visible_in_product? %>
                          product
                        <% end %>
                        <% if !location.visible_in_product? && !location.visible_in_cart? %>
                          &amp;
                        <% end %>
                        <% if !location.visible_in_cart? %>
                          cart
                        <% end %>
                        <% if !location.visible_in_product? || !location.visible_in_cart? %>
                          pages)</small>
                        <% end %>
                      </p>
                    </th>
                    <td aria-hidden="true" role="presentation" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--presentational"></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text"><%= location.address %><br>
                      <%= location.formatted_address %><br><%= location.country %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                      <% if location.email.present? %>
                        <% location.email.split(',').each do |email| %>
                          <p><%= email %></p>
                        <% end %>
                      <% end %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text"><%= location.phone %></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--text">
                      <%= link_to 'Edit', edit_location_path(location), class: 'Polaris-Button Polaris-Button--primary Polaris-Button--sizeSlim button-margin-right' %>
                      <%= link_to 'Delete', location, method: :delete, class: 'Polaris-Button Polaris-Button--destructive Polaris-Button--sizeSlim', data: {confirm: "Are you sure? Deleting this location will also delete all its locations."} %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
                <tfoot class="Polaris-DataTable__TableFoot">
                <tr>
                  <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--footer">
                    <p>
                      Showing <%= @locations.count %>
                      of <%= pluralize(@current_store.locations.count, 'location') %>.
                    </p>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <br>
      <% if @locations.count < @current_store.locations.count %>
        <%= render partial: 'layouts/partials/polaris_pagination', locals: {items: @locations} %>
      <% end %>

    <% else %>
      <div class="Polaris-Stack">
        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
          <p>
            You haven't added any location yet.
          </p>
        </div>
        <div class="Polaris-Stack__Item">
          <%= link_to 'Add New Store Location', new_location_path, class: 'Polaris-Button Polaris-Button--primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:javascript) do %>
  <script>
      polarisTableHeaderFix();
  </script>
<% end %>
