<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <% application_name = ShopifyApp.configuration.application_name %>
  <title><%= application_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'backend' %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'backend' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render partial: 'layouts/partials/topnavbar/menu' %>

<script type="text/javascript">
    addPaddingToAppWrapper();

    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var actions = AppBridge.actions;
    var TitleBar = actions.TitleBar;
    var Modal = actions.Modal;
    var Button = actions.Button;
    var ResourcePicker = actions.ResourcePicker;

    var app = createApp({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "#{ @current_shopify_session.domain }" if @current_shopify_session %>",
        debug: <%= Rails.env.development? %>,
        forceRedirect: "<%= true if params[:forced_redirect] %>",
    });

    <% if content_for?(:title) %>
    TitleBar.create(app, {
        title: "<%= yield :title %>",
        icon: "<%= image_url('reserve_32x32.png') %>"
    });
    <% end %>

    $(document).ready(function() {
        $('.display-if-enabled').displayIfEnabled();
        $('.display-if-selected-option').displayIfSelectedValue();
    });
</script>

  <!-- Main section-->
  <div class="app-wrapper">
    <div class="app-content">
      <main role="main">

        <%= yield %>
      </main>
    </div>
  </div>

    <%= render 'layouts/partials/toast' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      host: @host || params[:host],
      load_path: params[:return_to] || home_path,
      debug: Rails.env.development?
    } ) %>

  <% if content_for?(:javascript) %>
    <div id="ContentForJavascript" data-turbolinks-temporary>
      <%= yield :javascript %>
    </div>
  <% end %>

  <% if  ENV['HEROKU_RELEASE_VERSION'].present? && ENV['HEROKU_RELEASE_CREATED_AT'].present? %>
    <!--
      Server software <strong><%= ENV['HEROKU_RELEASE_VERSION'] %></strong>.
      Server last updated <strong><%= local_time_ago(Time.parse(ENV['HEROKU_RELEASE_CREATED_AT'])) %></strong>.
    -->
  <% end %>

  <%= render(partial: 'layouts/partials/footer/facebook_pixel') %>
  <%= render(partial: 'layouts/partials/footer/linkedin_pixel') %>
  <%= render(partial: 'layouts/partials/footer/adroll') %>

</body>
</html>
