<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <% application_name = ShopifyApp.configuration.application_name %>
  <title><%= application_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- top navigation tabs -->
<!--TODO Sticky-top -->
<div class="Polaris-Card">
  <ul role="tablist" class="Polaris-Tabs">
    <li role="presentation" class="Polaris-Tabs__TabContainer">
      <a class="Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if controller?('stores') %>" href="<%= stores_settings_path %>">
        <span class="Polaris-Tabs__Title">Options</span></a>
    </li>
    <li role="presentation" class="Polaris-Tabs__TabContainer">
      <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if controller?('reservations') %>" href="<%= reservations_path %>">
        <span class="Polaris-Tabs__Title">Reservations</span></a>
    </li>
    <li role="presentation" class="Polaris-Tabs__TabContainer">
      <a class="nav-item nav-link Polaris-Tabs__Tab <%= 'Polaris-Tabs__Tab--selected' if controller?('locations') %>" href="<%= locations_path %>">
        <span class="Polaris-Tabs__Title">Locations</span></a>
    </li>
  </ul>
</div>

<!-- Main section-->
<div class="app-wrapper">
  <div class="app-content">
    <main role="main">
      <%= yield %>
    </main>
  </div>
</div>

<%= render 'layouts/flash_messages' %>

<script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

<script type="text/javascript">
    ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? %>,
        forceRedirect: true
    });
</script>

<%#= javascript_include_tag params[:controller] %>

<% if content_for?(:javascript) %>
  <div id="ContentForJavascript" data-turbolinks-temporary>
    <%= yield :javascript %>
  </div>
<% end %>

</body>
</html>
